{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static 'employee_app/main.css' %}">
    

</head>
  <body>

    <div class="layout position-relative">

      <div class="navbar-verticle position-aboslute">
        <a href="{% url 'home'%}">
          <div class="logo">
            <img src="{% static 'logo.png' %}" alt="Logo" width="30" height="30"> 
            <span>Clever</span>
          </div>
        </a>
        <nav class="menu collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush">

              <div class="nav-item">
                <a href="{% url 'attendances' %}"><div class="content">
                  <div class="icon-text">
                    <i class="fa-solid fa-house"></i>
                    <span>Attendances</span>
                  </div>
                </div></a>
              </div>

              <div class="nav-item">
                <a href="{% url 'departments'%}">
                  <div class="content">
                    <div class="icon-text">
                      <i class="fa-solid fa-chart-simple"></i>
                      <span>Departments</span>
                    </div>
                    
                  </div>
                </a>
              </div>

              <div class="nav-item">
                <a href="{% url 'employee_applicants'%}">
                  <div class="content d-flex">
                  <div class="icon-text">
                    <i class="fa-regular fa-comment"></i>
                    <span>Applicants</span>
                  </div>  
                  <div class="badge"><span>6</span></div>            
                </div></a>
              </div>

              <div class="nav-item">
                <a href="{% url 'employees'%}">
                  <div class="content">
                    <div class="icon-text">
                      <i class="fa-regular fa-bookmark"></i>
                      <span>Employees</span>
                    </div>
                    
                  </div>
                </a>
              </div>

              <div class="nav-item">
                <a href="{% url 'job_applications' %}">
                  <div class="content">
                    <div class="icon-text">
                      <i class="fa-solid fa-user-group"></i>
                      <span>Job applications</span>
                    </div>
                    
                  </div>
                </a>
              </div>
             
            </div>
          </div>

        </nav>

        <div class="vr"></div>

        <nav class="menu2 collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush">

              <div class="nav-item">
                <a href="{% url 'settings'%}">
                  <div class="content">
                    <div class="icon-text">
                      <i class="fa-solid fa-gear"></i>
                      <span>Settings</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="nav-item">
                <a href="{% url 'notifications'%}">
                  <div class="content d-flex">
                    <div class="icon-text">
                      <i class="fa-regular fa-comment"></i>
                      <span>Notifications</span>
                    </div>  
                    <div class="badge-noti"><span>23</span></div>            
                  </div>
                </a>
              </div>
             
            </div>
          </div>

        </nav>

        <nav class="navuser collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush">

              <div class="nav-item">
                <div class="content">
                  <div class="icon-text">
                    <i class="fa-regular fa-user"></i>
                    <span>Account</span>
                  </div>
                </div>
              </div>

              <div class="nav-item">
                <div class="content">
                
                {%if request.user.is_authenticated %}
                  <div class="icon-text">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span><a href="{% url 'logout'%}">Logout</a></span>
                  </div>
                {%else%}
                
                <div class="icon-text">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span><a href="{% url 'login'%}">Login</a></span>
                  </div>
                
                {%endif%}
                  
                </div>
              </div>
             
            </div>
          </div>

        </nav>
        
      </div>

      <div class="containers">
        <div class="heading-page">
          <div class="containerx">
            <div class="elements d-flex">
              <div class="page-title mr-auto">
                {% block title %}
                {% endblock title%}
              </div>
              <div class="buttons d-flex">
                <button class="x-button">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <span>Download</span></button>

                <div class="btn btn-base">
                  <i class="fa-solid fa-plus"></i>
                  <span>Create</span></button>
                </div>

              </div>


            </div>
          </div>

        </div>
        <div class="main">
          {% block content %}
          {% endblock content %}
        </div>
      </div>



    </div>
    


    
   
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>