* body{
    background-color: #F7FAFC;
    height: 800%;
    
    }
    
    .container{
      height: 100%;
      position: relative;
    }
    
    .main{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 30px;
      gap: 30px;
      width: 100%;
      height: 851px;
    }
    
    .page-title{
      width:100%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 136.02%;
      height: 36px;
      padding:10px;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    
    .navbar-top{
      display: flex;
      margin-top:30px;
    }
    
    .page-title a{
      color:#27272E;
    }
    
    .page-title a:hover{
      color:#4C6FFF;
      text-decoration: none;
    }
    
    .buttons{
      display: flex;
      width:100%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
        
    }
    
    
    
    .topper{
      width:100%;
    }
    
    .topper .col{
      width:50%;
    }
    
    .buttons-grid{
      width:50%
    }
    
    .title-grid{
      width:50%
    }
    
    .verticle-navbar{
      position:absolute;
      Width:100%;
      Height:950px;
      background-color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    .logo-grid{
    
      width: 136.2px;
      height: 36px;
      margin-left: 24px;
      margin-top: 30px;
     
    }
    
    
    .nav-item-grid{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      width: 100%;
      height: 51px;
      border: 2px solid #FFFFFF;
      background-color: white;
    
      
    }
    
    .navbar-list{
      margin-top:50px;
    }
    
    .nav-item-grid:hover{
      background-color: #EDF2F7;
    
    }
    
    .nav-item-grid:active{
      background-color: #4C6FFF;
    
    }
    
    .nav-item-grid .content{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 22px;
      gap: 10px;
      width: 50%;
      height: 51px;
    }
    
    
    .menu span{
      width:126px;
    }
    
    .menu .fa-lock{
      width:16px;
      height:16px;
    }
    
    .icon-text{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 20px;
      width: 100%;
      height: 17px;
    }
    
    .icon-text span{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      width: 126px;
      height: 17px;
      color: #425466;
    
    }
    
    .vr{
      width:100%;
      border: 1px solid #EDF2F7;
      margin-top:26px;
    }
    
    .menu2{
      height:100px;
      margin-top:24px;
    }
    
    .nav-user{
      height:98px;
      margin-top: 321px;
    }
    
    .buttons .fa-plus{
      width:12px;
      height:12px;
    }
    
    
    .logo{
      width: 136.2px;
      height: 36px;
      gap:20px;
      display: flex;
      position: relative;
    }
    
    .logo img{
      width: 36px;
      height: 36px;
      position: absolute;
      margin-left: 0%;
      margin-right: 73.57%;
      margin-top: 0%;
      margin-bottom: 0%;
    }
    
    .logo span{
      
      color: #a930d4;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      MARGIN-left: 35.24%;
      margin-right: 17.3%;
      margin-bottom: 25%;  
      margin-top: 5px;  
    
    }
    
    
    /** Employee **/
    
    .tables{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding: 0px;
      gap: 30px;
      width: 100%;
      height: 100%;
      background: #F7FAFC;
      border-radius: 16px;
    }
    
    .home-page{
      margin-top: 100px;
    }
    
    .heading-section{
      position: absolute;
      width: 100%;
      height: 67px;
      flex: none;
      align-self: stretch;
      flex-grow: 0;
    }
    
    .heading-section .title{
      position: absolute;
      height: 27px;
      left: 0px;
      right: 0px;
      top: 0px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 136.52%;
      color: #F7936F;
      
    }
    
    
    
    .heading-section .title a{
    
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px 20px;
      gap: 10px;
      height: 36px;
      background: #4C6FFF;
      border-radius: 6px;
      color:#FFFFFF;
      border: 1px solid #EDF2F7;
    }
    
    
    .heading-section .text {
      position: absolute;
      margin-top: 36px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #718096;
    }
    
    .heading-section .add-employee {
      margin-top: 36px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #718096;
    }
    
    .horizontal {
      position: absolute;
      height: 1px;
      margin-top: 94px;
      margin-left: 0px;
      margin-right: -2px;
      margin-bottom: -1px;
      width:1112px;
      height: 1px;
      background: #E2E8F0; 
    }
    
    /** Job applications **/
    
    .app-row{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      margin-top: 151px;
      width: 100%;
      height: 700px;
      flex: none;
      order: 2;
      flex-grow: 0;
      flex-wrap: wrap;
      overflow-y: scroll;
    
    }
    
    .card-image{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      width: 40%;
      height: 250px;
      background: #FFFFFF;
      box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
      border-radius: 16px;
      overflow: hidden;
    }
    
    
    
    .card-image .contents{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      gap: 30px;
      height: 100%;
      position: relative;
      background: #F7FAFC;
    }
    
    .card-image .contents .app-heading{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      width: 100%;
      height: 51px;
    }
    
    
    .card-image .contents .app-text{
      width: 100%;
      max-height: 69px;
      overflow:hidden;
      display: none;
      
    }
    
    .card-image .other{
      width: 100%;
      height: 31px;
      margin-top: 100px ;
    
    }
    
    /*Departments */
    
    .dep-list{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 14px 12px;
      gap: 6px;
      width: 100%;
      height: 500px;
      background: #FFFFFF;
      box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2), 0px 1px 3px rgba(50, 50, 71, 0.1);
      border-radius: 8px;
      margin-top: 151px;
    }
    
    .dep-list p{
      font-size: 16px;
      font-weight: bold;
    }
    
    .center-content{
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
    
    .dep-item{
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #EDF2F7;
    
    }
    
    .dep-item:hover{
      background-color: #EDF2F7;
    }
    .dep-item:active{
      background-color: #4C6FFF;
    
    }
    
    .menu{
      width:100%;
      height:100%;
      margin-top:46px;
    }
    
    /* topbar grid */
    
    
    .grid-title{
      width:50%;
    
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 136.02%;
    }
    
    .order-last{
      gap:16px;
    }
    
    .order-last button{
      width: 100px;
      height: 36px;
     
    }
    
    .download{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px 20px;
      gap: 10px;
      height: 36px;
      border-radius: 6px;
      border: 1px solid #EDF2F7;
      color: #16192C;
      background-color:#F7FAFC;
    }
    
    .create{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px 20px;
      gap: 10px;
      height: 36px;
      width:100px;
      background: #4C6FFF;
      border-radius: 6px;
      color:#FFFFFF;
      border: 1px solid #EDF2F7;
    
    }
    
    .create:hover{
      text-decoration: none;
    }
    
    .test-topbar{
      margin-top: 30px;  
      
    }
    
    /* employee em-table */
    
    
    
    .table{
      background: #FFFFFF;
      border-radius: 16px;
    }
    
    .table thead tr{
      background-color: #FAFAFB;
    }
    
    
    .table tbody td {
      width: 31px;
      height: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #425466;
    }
    
    .table thead tr th{
      width: 81px;
      height: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #8492A6;
      
    }
    
    .table tbody tr th{
      width: 63px;
      height: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #27272E;
    }
    
    
/* login */ 

   
.formsWidth {
  max-width:320px;
  margin-bottom: 40px;
      
  }

.login-card{
  text-align: center;
  padding:40px;
  height:500px;
  width:400px;
}

.login-card .btn{
  width: 100%;
  height: 46px;
}
    
    /**********************************media
    
    @media (min-width: 1025px) {
    
     
    
    }
    
    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    
    
    /*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 768px) and (max-width: 1024px) {
    
      .card-image .other{
        
        margin-top: 130px ;
      
      }
      
      .app-text{
        display: contents;
      }
     
    }
    
    @media (min-width: 576px) and (max-width: 768px){
      
      .card-image{
        width: 100%;
      }
      .order-last{
        width:170px;
      }
      .order-last button{
        width:100px;
      }
      .order-first{
        width:50px;
        
      }
    
    
    }
    
    /*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
    
    
    @media (max-width: 576px) {
    
      .nav-user{
        height:98px;
        margin-top: 10px;
      }
    
      .nav-item-grid{
    
        display: flex;
        justify-content: center;  
        text-align: center;
        
      }
    
      .icon-text{
        
        margin-right:40px;
    
      }
    
      .icon-text span{
        width: auto;
      }
    
      .navbar-list{
       
        padding: 14px 12px;
        gap: 6px;
        width: 100%;
        height: 600px;
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2), 0px 1px 3px rgba(50, 50, 71, 0.1);
        border-radius: 8px;
        margin-top: 0px;
      }
    
      .verticle-navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .logo-grid{
        
        margin-left: -20px;
    
      }
    
      .app-heading {
        font-size: 14px;
        
      }
    
      .card-image{
        height: 250px;
        width: 100%;
    
      }
    
      .card-image .contents{
        width: 100%;
      }
      
    }
    
    .card-image .contents{
      width: 100%;
    }
    
    
    
    
    @media (max-width: 576px){
      .con-grid{
        margin-top: 700px;
      }
      
    } 
    
    