{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class="content-section mt-3 p-5 shadow-lg">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Add new Employee
            </legend>
            
                {{ form.full_name|as_crispy_field  }}
                {{ form.birth_date|as_crispy_field  }}
                {{ form.department|as_crispy_field  }}
                {{ form.bio|as_crispy_field  }}
                {{ form.is_active }}
                {{ form.job_application }}

                
        </fieldset>
        <div class="form-group">              
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-upload"></i> Add</button>
        </div>
    </form>

</div>

{% endblock content %}
