{% extends 'base.html' %}

{% block title %}
Departments
{% endblock title %}

{% block content %}

<div class="center">

	<div class="tables">
		
		<div class="heading-section position-absolute">
			<div class="title">
				✻ Our Departments
			</div>
			<div class="text">
				Click on any department to view more info.
			</div>

		</div>


		<div class="dep-list ">
			
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Department Name</th>
					
				  </tr>
				</thead>
				{% for department in departments %}
				<tbody>
				  <tr>
					
					<td>{{ department.name }}</td>
					
				  </tr>
				 
				</tbody>
				{% endfor %}
			  </table>
			  
			  
		</div>



	</div>


	

	
</div>
{% endblock content %}