{% extends 'base.html' %}

{% block title %}
Departments
{% endblock title %}

{% block content %}

<div class="center">

	<div class="tables">
		
		<div class="heading-section position-absolute">
			<div class="title">
				✻ Our Departments
			</div>
			<div class="text">
				Click on any department to view more info.
			</div>

		</div>

		<div class="dep-list ">
			{% for department in departments %}
			<div class="dep-item">{{ department.name }}</div>
			{% endfor %}
		</div>


	</div>


	

	
</div>
{% endblock content %}