{% extends "base.html" %}
{% block content %}

<p>Job Application: {{ object.job_application }}</p>
<p>Employee Full Name: {{ object.employee_full_name }}</p>
<p>Bio: {{ object.employee_bio }}</p>
<p>Status: {{ object.status }}</p>


<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'employee-applicant-update' object.id %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'employee-applicant-delete' object.id %}">Delete</a>
</div>

{% endblock content %}
