{% extends 'base.html' %}

{% block title %}
Employees
{% endblock title %}

{% block content %}

<div class="center">

	<div class="tables">
		
		<div class="heading-section position-absolute">
			<div class="title d-flex">
				<span class="mr-auto">✻ Our Employees</span>
				
				
			</div>
			
			<div class="text">
				Click on any Employee to view more info.
			</div>
			

		</div>

		<div class="dep-list ">
			
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Full Name</th>
					<th scope="col">Bio</th>
					<th scope="col">Department</th>
					<th scope="col">Status</th>
					<th scope="col">Joining Date</th>
				  </tr>
				</thead>
				{% for employee in employees %}
				
				<tbody>
				  <tr>
					<th scope="row">{{ employee.full_name }}</th>
					<td>{{ employee.bio }}</td>
					<td>{{ employee.department }}</td>
					<td>{{ employee.is_active }}</td>
					<td>{{ employee.joining_date }}</td>
				  </tr>
				 
				</tbody>
				{% endfor %}
			  </table>
			  
			  
		</div>


	</div>


</div>
{% endblock content %}