{% extends 'base.html' %}


{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="tables">

	<div class="heading-section position-absolute">
		<div class="title">✻ Homepage</div>
		<div class="text">Welcome to our website</div>
	</div>


	<div class="dep-list ">
			
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">-Section Name-</th>
				<th scope="col">-Total Number-</th>
				
			  </tr>
			</thead>
			
			
			<tbody>
			  <tr>
				<th scope="row">Departments</th>
				<td>{{ department_count }}</td>
			  </tr>

			  <tr>
				<th scope="row">Employees</th>
				<td>{{ employees_count }}</td>
			  </tr>

			  <tr>
				<th scope="row">Employees Applicants</th>
				<td>{{ employees_applicant_count }}</td>
			  </tr>
			 
			</tbody>
			
		  </table>
		  
		  
	</div>
	
</div>

{% endblock content %}

