{% extends 'base.html' %}

{% block title %}
Job Applications
{% endblock title %}

{% block content %}
<div class="center">

	<div class="tables">
		
		<div class="heading-section position-absolute">
			<div class="title">
				✻ All Job Applications List
			</div>
			<div class="text">
				Our employees submit these applications.
			</div>

		</div>
		
		<div class="app-row">
			{% for job_application in job_applications %}
			<div class="card-image">
				<div class="image text-center">Image</div>
				<div class="contents position-relative">
					<div class="app-heading position-absolute">
						<div class="xx"><strong>Job Title:</strong> {{ job_application.job_title }}</div>
						<div class="yy"><strong>Department:</strong> {{ job_application.department }}</div>
					</div>
					<div class="app-text position-absolute"><strong>Description:</strong> {{ job_application.job_description }}</div>
					<div class="other position-absolute"><strong>Published:</strong> {{ job_application.is_published }}</div>
				</div>
			</div>
			{% endfor %}
			
		</div>
		


	</div>

</div>
{% endblock content %}