{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section mt-3 p-5 shadow-lg">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Create A new Applicant
                </legend>
                {{ form.job_application|as_crispy_field  }}
                {{ form.employee_full_name|as_crispy_field  }}
                {{ form.employee_bio|as_crispy_field  }}
               
                
            </fieldset>
            <div class="form-group">
                  
            <button class="btn btn-outline-primary" type="submit">Confirm</button>
            </div>
        </form>

    </div>

{% endblock content %}