{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
  <body>



      <div class="container container-fluid position-relative">  

        <div class="row" >

          {%if request.user.is_authenticated %}
          <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3">
          
            <div class="verticle-navbar">

              <div class="logo-grid">
                <a href="{% url 'home'%}">
                  <div class="logo d-flex">
                    <img src="{% static 'logo.png' %}" alt="Logo" width="30" height="30"> 
                    <span>Clever</span>
                  </div>
                </a>
              </div>
              
              <div class="navbar-list ">
                
                <div class="nav-item-grid">
                  <a href="{% url 'attendances' %}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-solid fa-house"></i>
                        <span>Attendances</span>
                      </div>
                  </div></a>
                </div>
                <div class="nav-item-grid">
                  <a href="{% url 'departments'%}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span>Departments</span>
                      </div>
                      
                    </div>
                  </a>
                </div>
                
                <div class="nav-item-grid">
                  <a href="{% url 'employee_applicants'%}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-regular fa-comment"></i>
                        <span>Applicants</span>
                      </div>  
                               
                  </div></a>
                </div>

                <div class="nav-item-grid">
                  <a href="{% url 'employees'%}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-regular fa-bookmark"></i>
                        <span>Employees</span>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="nav-item-grid">
                  <a href="{% url 'job_applications' %}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Applications</span>
                      </div>
                      
                    </div>
                  </a>
                </div>

                <div class="vr"></div>

                <div class="nav-item-grid">
                  <a href="{% url 'settings'%}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-solid fa-gear"></i>
                        <span>Settings</span>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="nav-item-grid">
                  <a href="{% url 'notifications'%}">
                    <div class="content d-flex">
                      <div class="icon-text">
                        <i class="fa-regular fa-comment"></i>
                        <span>Notifications</span>
                      </div>  
                               
                    </div>
                  </a>
                </div>

                <div class="nav-item-grid">
                  <a href="#">
                    <div class="content d-flex">
                      <div class="icon-text">
                        <i class="fa-regular fa-user"></i>
                        <span>Accounts</span>
                      </div>  
                               
                    </div>
                  </a>
                </div>

                
                <div class="nav-item-grid">
                {%if request.user.is_authenticated %}

                  <a href="{% url 'logout'%}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                      </div>  
                               
                  </div></a>
                  
                 {% else %}
                  
                 
                  <a href="{% url 'login'%}">
                    <div class="content">
                      <div class="icon-text">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Login</span>
                      </div>  
                               
                  </div></a>
                  
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-7 col-md-8 col-lg-9 con-grid" >
          {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 con-grid" >
          {% endif %}
          
            <div class="main">
    
              <div class="container">
                <div class="row">
                    <div class="col">
                      
                     {% block content %}
                    
                     {% endblock content %}
                    </div>

                  </div>
              </div>
            </div>

          </div>
         
              
          </div>
       
        </div>
      </div>


    

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    -->

  </body>
</html>