* body{
background-color: #F7FAFC;
width: 1420px;
height: 950px;

}

.layout{
  width: 1420px;
  height: 950px;
  position: relative;
}

.navbar-verticle{
  width:250px;
  height:950px;
  position: absolute;
  
}

.containers{
  width:1170px;
  height:950px;
  position: absolute;
  margin-left: 250px;
}

.heading-page{
  width:1170px;
  height:99px;
  position: absolute;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 30px;
  width: 1170px;
  height: 851px;
  margin-top: 99px;
}

.containerx{
  width:1170px;
  height:37px;
  padding: 0px 30px;
  margin-top:30px;
  margin-bottom:32px;
}

.elements{
  width:1110px;
}

.page-title{
  width:472px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 136.02%;
  height: 36px;
  left: 30px;
  right: 667.95px;
  top: 0px;

}

.page-title a{
  color:#27272E;
}

.page-title a:hover{
  color:#4C6FFF;
  text-decoration: none;
}

.buttons{
  width:235px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
    
}

.x-button{
  box-sizing: border-box;

/* Auto layout */
display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;

  width: 119px;
  height: 36px;

  /* Border/Light */

  border: 1px solid #EDF2F7;
  border-radius: 6px;
}

.btn-base{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  gap: 10px;
  width: 100px;
  height: 36px;
  background: #4C6FFF;
  border-radius: 6px;
  color:#FFFFFF;
}

.logo{
  width:136.2px;
  height:36px;
  margin-top:30px;
  margin-left:24px;
}

.menu{
  width:250px;
  height:250px;
  margin-top:46px;
}

.nav-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 246px;
  height: 51px;
}

.nav-item .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 22px;
  gap: 10px;

  width: 244px;
  height: 51px;
}

.badge{
  display: flex;
  align-items: center;
  
  gap: 10px;
  width: 28px;
  height: 19px;
  background: #E1E8FF;
  border-radius: 100px;
}

.badge span{
  width: 8px;
  height: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #4C6FFF;
}

.badge-noti{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 19px;
  background: #FFE6E4;
  border-radius: 100px;
}

.badge-noti span{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #F16063;
}

.menu span{
  width:126px;
}

.menu .fa-lock{
  width:16px;
  height:16px;
}

.icon-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 162px;
  height: 17px;
}

.icon-text span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 126px;
  height: 17px;
  color: #425466;

}

.vr{
  width:210;
  border: 1px solid #EDF2F7;
  margin-top:26px;
}

.menu2{
  height:100px;
  margin-top:24px;
}

.navuser{
  height:98px;
  margin-top: 321px;
}

.buttons .fa-plus{
  width:12px;
  height:12px;
}


.logo{
  width: 136.2px;
  height: 36px;
  margin-left: 24px;
  margin-top: 30px;
  gap:20px;
  display: flex;
  position: relative;
}

.logo img{
  width: 36px;
  height: 36px;
  position: absolute;
  margin-left: 0%;
  margin-right: 73.57%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.logo span{
  
  color: #a930d4;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  MARGIN-left: 35.24%;
  margin-right: 17.3%;
  margin-bottom: 25%;  
  margin-top: 5px;  

}

/** Employee **/

.tables{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 1170px;
  height: 1319px;
  background: #FFFFFF;
  border-radius: 16px;
}


table {
  width: 1110px;
  margin-top: 251px;
 
}


td:first-child {
  background-color: #32a852;
}

td:nth-child(2) {
  background-color: #aaaaaa;
}
td:nth-child(3) {
  background-color: #b67373;
}
td:nth-child(4) {
  background-color: #4b3cad;
}
td:nth-child(5) {
  background-color: #bc6536;
}
td:last-child {
  background-color: #5696c7;
}

thead td:first-child {
  background-color: orange;
  
}

thead td:first-child span{
width: 47px;
height: 24px;
margin-left: 24px;
margin-top:18px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #1F2D3D;
  
}
thead td:nth-child(2) {
  background-color: orange;
}
thead td:nth-child(3) {
  background-color: orange;
}
thead td:nth-child(4) {
  background-color: orange;
}
thead td:nth-child(5) {
  background-color: orange;
}
thead td:last-child {
  background-color: orange;
}

tbody td span{
  margin-left: 24px;
}

.content-heading{
  position: absolute;
  width: 859px;
  height: 41.62px;
  
}

.content-heading span{
  position: absolute;
  height: 41.62px;
  left: 0px;
  right: 251px;
  top: 9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 136.02%;
  color: #27272E;

}
.heading-section{
  position: absolute;
  width: 1110px;
  height: 67px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 154px;
  background-color: yellow;
}

.heading-section .title{
  position: absolute;
  height: 27px;
  left: 0px;
  right: 0px;
  top: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 136.52%;
  color: #F7936F;
}

.heading-section .text {
  position: absolute;
  margin-top: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #718096;
}

.horizontal {
  position: absolute;
  height: 1px;
  margin-top: 94px;
  margin-left: 0px;
  margin-right: -2px;
  margin-bottom: -1px;
  width:1112px;
  height: 1px;
  background: #E2E8F0; 
}